label {
	font-weight: bold;
}

.textarea-wide {
	width: 450px;
}

label {
	display: block;
	margin-bottom:5px;
}

label:after {
    content: ':';
}

.first-item {
	margin-top: 50px;
}

.sub-legend {
	font-size: 18px;
}
